analysis_name=<sample_id>
targets_bed_file=/ifs/rcgroups/ccgd/rpa4/analysis/sv/130808/kmer_region_branch/data/panels/<panel_bed>
sample_bam_file=/ifs/rcgroups/ccgd/rpa4/analysis/sv/130808/kmer_region_branch/analysis/<project_id>/<sample_id>/data/sample.bam
analysis_dir=/ifs/rcgroups/ccgd/rpa4/analysis/sv/130808/kmer_region_branch/analysis/<project_id>/<sample_id>
reference_data_dir=/ifs/rcgroups/ccgd/rpa4/analysis/sv/130808/kmer_region_branch/data/ref
other_regions_file=/ifs/rcgroups/ccgd/rpa4/analysis/sv/130808/kmer_region_branch/data/cluster_regions.bed
cutadapt=/ifs/rcgroups/ccgd/rpa4/software/cutadapt-1.2.1/bin/cutadapt
cutadapt_config_file=/ifs/rcgroups/ccgd/rpa4/scripts/sv/kmer_sv/cutadapt.conf
jellyfish=/ifs/rcgroups/ccgd/rpa4/software/jellyfish-1.1.11/bin/jellyfish
assembler=/ifs/rcgroups/ccgd/rpa4/software/newbler/install2.6/bin/runAssembly
blat=/ifs/rcgroups/ccgd/rpa4//software/blat_bin/blat
blast=/ifs/rcgroups/ccgd/rpa4//software/ncbi-blast-2.2.28+/bin/blastn
reference_fasta=/ifs/rcgroups/ccgd/rpa4/analysis/sv/130808/kmer_region_branch/data/ref/ucsc_hg19_dna.primary-assembly.fa
gene_annotation_file=/ifs/rcgroups/ccgd/rpa4/ref2/human/ucsc/current/annotation/ucsc_hg19_refgene.txt
repeat_mask_file=/ifs/rcgroups/ccgd/rpa4/ref2/human/ucsc/current/annotation/ucsc_hg19_rmsk.bed
kmer_size=15
