analysis_name=<sample_id>
targets_bed_file=<path to bed file containing locations of target regions>
sample_bam_file=<path to sample bam file>
analysis_dir=<path to analysis directory>
reference_data_dir=<path to where reference files will/are stored> 
other_regions_file=<path to bed file containing targeted unannotated cluster regions> 
cutadapt=<path to cutadapt binary> 
cutadapt_config_file=<path to cutadapt configuration file> 
jellyfish=<path to Jellyfish binary> 
blat=<path to BLAT binaries, blat, gfServer, gfClient>
reference_fasta=<path to whole genome reference fasta file>
gene_annotation_file=<path to ucsc_hg19_refgene.txt>
repeat_mask_file=<path to ucsc_hg19_rmsk.bed>
kmer_size=15
